.DictionaryInputSearchInput {
  margin: 1rem 0;
  width: 100%;
}

.DictionaryInputSearchButton {
  position: absolute;
  right: 1.5rem;
}

.ButtonsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.SearchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
}

.DictionaryItemsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-secondary);
  border-radius: 2rem;
  padding: 0 2rem;
  margin: 1rem;
  box-shadow: 1px 6px 14px -5px var(--color-shadow);
}

.DictionaryPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: -1rem;
}

.WordNotFounded {
  font-size: 1.5em;
}
