.Hero {
  margin: -1rem;
}

.MainWrapper {
  display: flex;
  justify-content: center;
}

.MainText {
  font-size: 2.5rem;
  color: var(--color-text);
  margin: 1rem;
}

.FormWrapper {
  margin: 0;
}

.FormInput,
.FormButton {
  margin: 1rem;
}
