.MainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 6em 0;
}

.MainContainer * {
  max-width: 40em;
}

@media (max-width: 48em) {
  .MainContainer {
    margin: 3em 0;
  }
}
