.Header {
  background-color: var(--color-secondary);
  border-radius: 0 0 1em 1em;
  box-shadow: 1px 6px 14px -5px var(--color-shadow);
}

.HeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -0.5rem;
  flex-wrap: wrap;
}

.LogoBlock {
  margin: 0.5rem 0.5rem 0 0.5rem;
}

.ServiceBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem;
  flex-wrap: wrap;
}

.HeaderLogOutBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.HeaderToggleBtn {
  margin: 0;
  margin-right: 2rem;
}

.HeaderLogOutBtn {
  margin: 0;
  margin-right: 1rem;
}

.HeaderUserName {
  margin: 0;
  margin-right: 1rem;
}

@media (max-width: 48em) {
} ;
