.ToggleButton {
  font-size: 0.7rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2.2em;
  margin: 0;
  vertical-align: top;
  background: #ffffff;
  border: 0.15em solid var(--color-border);
  border-radius: 2em;
  outline: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  box-shadow: 0em 0.6em 0.7em -0.2em var(--color-shadow);
  -webkit-box-shadow: 0em 0.6em 0.7em -0.2em var(--color-shadow);
  -moz-box-shadow: 0em 0.6em 0.7em -0.2em var(--color-shadow);
}

.ToggleButton:hover {
  filter: brightness(120%);
  box-shadow: 0em 0.7em 0.7em -0.2em var(--color-shadow);
  -webkit-box-shadow: 0em 0.7em 0.7em -0.2em var(--color-shadow);
  -moz-box-shadow: 0em 0.7em 0.7em -0.2em var(--color-shadow);
}

.ToggleButton::after {
  content: "";
  display: block;
  position: absolute;
  left: 0.2em;
  top: 0.2em;
  width: 1.5em;
  height: 1.5em;
  background-color: rgb(248, 194, 15);
  border-radius: 50%;
  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.ToggleButton:checked::after {
  transform: translateX(calc(100% + 0.2em));
  background-color: var(--color-border);
  filter: brightness(110%);
}
.ToggleButton:checked {
  background-color: var(--color-background);
}
