.Input {
  background-color: var(--color-primary);
  filter: brightness(90%);
  border: solid 0.01em var(--color-accent--success);
  border-radius: 2em;
  font-size: 1.5em;
  padding: 0.5em;
  max-width: 9em;
  box-shadow: 0em 0.1em 0.5em -0.2em var(--color-accent--success);
  color: var(--color-text);
  transition: all 0.3s;
}

.Input:hover {
  filter: brightness(110%);
}

.Input::placeholder {
  color: var(--color-input-text);
}
