.DictionaryItem {
  display: flex;
  flex-direction: row;
  margin: 0.5rem -0.5rem;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: solid 0.1rem var(--color-accent--success);
}

.DictionaryItemOriginalWord,
.DictionaryItemtTranslationsWrapper {
  margin: 0.5rem;
}

.DictionaryItemTranslationWord {
  text-align: end;
}
