.GameWrapper {
  display: flex;
  flex-direction: column;
  max-width: 15em;
  width: 100%;
  margin: -0.5em;
}

.GameCard,
.GameBtn,
.GameInput {
  margin: 0.5rem 0;
}

.GameForm {
  display: flex;
  flex-direction: column;
}
