.Modal {
  position: fixed;
  z-index: 100;
  background-color: var(--color-secondary);
  border: 0.1em solid var(--color-border);
  border-radius: 2em;
  box-shadow: 0em 0.5em 0.7em -0.2em var(--color-shadow);
  -webkit-box-shadow: 0em 0.5em 0.7em -0.2em var(--color-shadow);
  -moz-box-shadow: 0em 0.5em 0.7em -0.2em var(--color-shadow);
  padding: 3em;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  max-width: 90%;
  width: 40em;
  color: var(--color-text);
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
  transform: translate(-50%, -100vh);
}

.ModalShown {
  transform: translate(-50%, 0);
}

.ModalCloseBtnWrapper {
  position: absolute;
  width: 2em;
  height: 2em;
  background-color: var(--color-accent);
  top: 0;
  right: 0;
  border-radius: 50%;
}
.ModalCloseBtn {
  display: block;
  width: 2em;
  height: 2em;
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0.5em;
  overflow: hidden;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  transition: all 0.2s;
}
.ModalCloseBtn::before {
  width: 2em;
  height: 0.2em;
  display: block;
  content: "";
  background-color: var(--color-border);
  transform: translateY(-50%) rotate(45deg);
  position: absolute;
  top: 50%;
  filter: brightness(90%);
}
.ModalCloseBtn::after {
  width: 2em;
  height: 0.2em;
  display: block;
  content: "";
  background-color: var(--color-border);
  transform: translateY(-50%) rotate(-45deg);
  position: absolute;
  top: 50%;
  filter: brightness(90%);
}

.ModalCloseBtn:focus,
.ModalCloseBtn:hover {
  filter: brightness(120%);
}

@media (max-width: 48em) {
  .Modal {
    padding: 3em;
  }
}
