.LogOutButton {
  font-size: 0.6rem;
  width: fit-content;
  width: 2em;
  height: 3em;
  padding: 1em;
  background-color: transparent;
  border: solid 0.2em var(--color-border);
  border-radius: 0.8em;
  position: relative;
  cursor: pointer;
  box-shadow: 0em 0.8em 0.7em -0.2em var(--color-shadow);
  -webkit-box-shadow: 0em 0.8em 0.7em -0.2em var(--color-shadow);
  -moz-box-shadow: 0em 0.8em 0.7em -0.2em var(--color-shadow);
  transition: all 0.3s;
  filter: brightness(90%);
}

.LogOutButton:focus,
.LogOutButton:active,
.LogOutButton:hover {
  filter: brightness(130%);
  box-shadow: 0em 0.7em 1em -0.2em var(--color-shadow);
  -webkit-box-shadow: 0em 0.7em 0.7em -0.2em var(--color-shadow);
  -moz-box-shadow: 0em 0.7em 1em -0.2em var(--color-shadow);
}

.LogOutButton::before {
  display: block;
  content: "";
  width: 1.6em;
  height: 0.2em;
  background-color: var(--color-border);
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 70%;
}

.LogOutButton::after {
  display: block;
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-right: 0.2em solid var(--color-border);
  border-top: 0.2em solid var(--color-border);
  position: absolute;
  top: 50%;
  transform-origin: top right;
  transform: rotate(45deg);
  left: calc(70% + 1.5em - 0.5em);
}
